<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90044110-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90044110-3');
    </script>

    <meta charset="utf-8">
    <title>Style Thesaurus</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">

    <meta charset='utf-8'>
  </head>
  <body>
    <div class="container-fluid">

      <div class="row mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          
          <div>
            <h1>Style Thesaurus</h1>
            <p class="tag">
              find adjacent words based on different domains, authors, and styles
            </p>

            <p>
              <small>
                <i>
                The Style Thesaurus automatically creates a thesaurus from a large corpus of text, such that the thesaurus reflects the stylistic preferences of that text. 
                The exception is 'Oxford', which is a "normal" thesaurus: the Oxford American Writer's Thesaurus.
                </i>
              </small>
            </p> 
            <p>
              <small>
              Made by <a href="http://www.katygero.com/" target="_blank">Katy Ilonka Gero</a>.
              </small>
            </p>
            
            <br />

            <!-- search functionality -->
            <div class="row">
              <div class="col-3">
                <div class="form-group has-success">
                  <input type="text" class="form-control" id="keyword" placeholder="tender">
                </div>
              </div>
              <div class="col-3 text-start">
                <button class="btn btn-success get_words">Search</button>
              </div>
            </div>

            <br />

            <div id="search-word"></div>



          </div>

          
        
          <div class="main"></div>

          <!-- <div class="m-2">
              <p class="select-styles">Select styles:</p>
              <div class="checkboxes"></div>
          </div> -->


        </div>

        <div class="col-md-3">
          <p> <i>History</i>
          <div class="history">
          </div>
          

          <div class="footer">
            <br />
            
          </div>
            
        </div>

    </div>
  </body>
</html>